﻿body {
    margin: auto;
    padding: 20px 20px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.tabbedContent{
	width: 60%;
}

.innerTabbedContent{
    width: 100%;
}

.tabheader{
	list-style-type: none;
    padding: 0 8px 0 0;
}

div.tab{
    position: relative;
    top: 1px;
    height: 100%;
    display: inline-block;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2.tabTitle{
    display: inline-block;
	padding: 4px;
	border: 1px solid black;
	background-color: #eeeeee;
    margin: 0 0 0 8px;
    
}

h2.tabTitle:hover{
	background-color: #bbbbbb;
}

div.tabContent{
	border: 1px solid black;
	padding: 0.5em;
	background-color: #eeeeee;
}