body{
	font-family: Helvetica, sans-serif;
	background-color: #a7a7cf;
	font-size: 12pt;
	margin: 0;
	text-align: center;
	color: #4a4991;
}

div.mainContainer{
	width: 78%;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	display: block;
}



header{
	width: 100%;
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
}

footer{
	width: 100%;
	margin-top: 20px;
}

.banner{
	background: #8584ba;
	width: 100%;
	height: 160px;
	position: relative;
	padding: 20px, 0;
}

.bannerText{
	font-family: Helvetica;
	font-size: 24pt;
	text-align: right;
	color: #4a4991;
}

div.leftBar{
	width: 60%;
	display: inline-block;
}

div.rightBar{
	width: 39.6%;
	display: inline-block;
}
ul.navBar, ul.vMenu, ul.hMenu, ul.loginBar{
	background:#FFA963;
	list-style-type: none;
	padding-left:0;
	list-style-position:inside;
	height:30px;	
	vertical-align:middle;
	position:relative;
	box-sizing: border-box;
}

ul.loginBar{
	text-align: right;
}

ul.loginBar>li{
	text-align: center;	
	margin-left: 45px;
}

ul.navBar>li{
	text-align: center;
	margin-right: 45px;
}

.navigation ul>li{
	float: left;
	height: 30px;
	padding: 0, 0px, 0, 0px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #222222;
	background: #777777;
	width: 90px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}

.navigation ul>li:hover{
	background: #99a4a3;
}

ul.vMenu{
	display: none;
	position: absolute;
	top: 28px;
	left: -2px;
	z-index: 100;
	height: auto;
}

ul.hMenu{
	display: none;
	position: absolute;
	top: -2px;
	left: 88px;
	z-index: 100;
}

ul.hMenu>li{
	float: left;
}

ul.vMenu>li{
	float: none;
}

.navigation li:hover>ul{
	display: block;
}

ul.navBar li a, ul.loginBar li a{
	text-decoration: none;
	color: white;
	text-align: center;
}


.nav-bar{
	width: 100%;
	height: 40%;
	font-family: Verdana;
	color: darkslategrey;
}

.nav-bar.link{
	font-family: Verdana;
	color: darkslategrey;
}

.align-left{
	float: left;
}

.align-right{
	float: right;
}

.blogText{
	text-indent: 20px;
	margin: 10px;
}

div .canvas p{
	text-align: center;
	font-size: 16pt;
}

#webGL-canvas{
	position: relative;
	top: 10%;
	left: 10%;
	
	width: 80%;
	height: 80%;
}

div.mainContent{
	height: 100%;
	display: flex;
	align-content: center;
}

div#leftCol{
	width: 32%;
	height: 507px;
		
}

div#rightCol{
	width: 32%;
	height: 507px;
	background-color: #c9c8e2;
}

div#midCol{
	width: 36%;
	padding: 20px;
	box-sizing: border-box;
}

div#secondaryCol{
	width: 29%;
	height: auto;
	background-color: #777777;
	border: 1px	solid #222222;
	display: inline-block;
	box-sizing: border-box;
}

div#primaryCol{
	width: 70%;
	height: auto;
	background-color: #777777;
	border: 1px	solid #222222;
	display: inline-block;
	box-sizing: border-box;
}

img#pizzaImg{
	width: 60%;
	position: relative;
	top: 5%;
	left: 10%;
}

img#timeImg{
	width: 40%;
	position: relative;
	top: 4%;
	left: 40%;
}

.footer>p{
	text-align: center;
}