
.tabbedContent{
	width: 50%;
	margin: 30px 0 30px 30px;
}

.tabheader{
	list-style-type: none;
}

.tab{
	display: inline;
}

.tab>h2{
	display: inline-block;
	padding: 4px;
	border: 1px solid black;
	border-bottom: none;
	background-color: #eeeeee;
}

div.tabContent{
	border: 1px solid black;
	padding: 0.5em;
	background-color: #f1f0ee;
}

div.tabContent.hide{
	display: none;
}

.accordian{
	margin: 30px 0 30px 30px;
	width: 50%;
}

.accordianTab{
	background-color: #eeeeee;
	z-index: 100;
}

.accordianTabTitle{
	position: relative;
	padding: 4px;
	border: 1px solid black;
}

.accordianTabContent{
	position: relative;
	border: 1px solid black;
	padding: 0.5em;
	background-color: #f1f0ee;
	display: none;
	overflow: hidden;
}

/*
button{
	margin: 20px 40px;
}

table{
	width: 500px;
	height: auto;
	margin: 20px 40px;
	background-color: #aaaaaa;
}

.tableRow{
	height: 28px;
	background-color: red;
}
*/

/*
#bouncingDiv{
	position: absolute;
	margin: 0px;
	visibility: hidden;
}

#divImg{
	-webkit-user-select: none;
	user-select: none;
}*/

