
body{
	background-color: lightsteelblue;
	font-size: 12pt;
	width: vmax;
}

.banner{
	font-family: Helvetica;
	color: white;
	background-color: slategrey;
	font-size: 24pt;
}

.nav{
	font-family: Verdana;
	color: darkred;
}

.blogText{
	font-family: Verdana;
	color: black;
	
}