body{
	color: #eeeeee;
	margin: 0;
}

canvas{
	width: 100%;
	height: 100%;
}

.mainContainer{
	width: 70%;
	margin: 0 auto;
}

div #banner{
	background-color: rgba(10, 8, 8, .6);
	border: 1px solid black;
	border-bottom: 0;
	height: 140px;
	padding: auto 0;
	box-sizing: border-box
}

div #bannerText{
	height: 100%;
	padding: 20px, 0, 20px, 0;
	box-sizing: border-box;
	text-align: left;
}

div #bannerText>h1{
	margin: 0;
	padding: 30px 20px;
	font-size: 38pt;
	color: #d81010;
}

#bannerImg{
	height: 90%;
	position: relative;
	top: 50%;
	left: 100%;
	transform: translate3d(-110%, -85%, 0);
}

.navbar{
	height: 54px;
	background-color: rgba(32, 32, 32, .6);;
	border: 1px solid black;
}

#main-navbar{
	height: 54px;
	margin: 0 0;
	padding: 10px, 10px, 10px, 10px;
	box-sizing: content-box;
	
}

#main-navbar>li{
	height: 100%;
}

#main-navbar>li:hover{
	background-color: #303030;
}

.navbar-nav li>a{
	color: #eeeeee !important;
	font-size: 18pt;
}

.navbar-nav li>a.mainNavItem{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-right{
	padding: 4px 10px 4px 4px;
}

.nav button{
	position: relative;
	top: -11px;
	color: #eeeeee;
	background-color: #ee1010;
	width: 300px;
	font-size: 20pt;
}

.navbar-right button a{
	color: #eeeeee;
}

.nav button:hover{
	background-color: #ee2020;
}

.nav button>a:hover{
	text-decoration: none;
}

.navbar-nav>.open>a{
	background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu{
	color: #eeeeee;
	background-color: #202020;
}

.dropdown-menu li>a.dropItem{
	background-color: #202020;
}

.dropdown-menu li>a.dropItem:hover{
	background-color: #303030;
}

.mainContent{
	width: 100%;
}

.jumbotron{
	height: 500px;
	background-image: url(../assets/images/einstein_pizza.jpg);
	background-position: 100% 30%;
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: rgba(32, 32, 32, .3);
	color: white;
	text-shadow: black .4em .4em .4em;
	border: 1px solid #0a0808;
}

.jumbotron>a{
	color: #eeeeee;
	float: left;
}

.jumbotron>a:hover{
	text-decoration: none;
}

#einsteinPizza{
	height: 100%;
	float: right;
}

.dealPanel{
	color: #eeeeee;
	background-color: rgba(32, 32, 32, .3);
	border-color: #0a0808;
}

.panel-default>.panel-heading {
    color: #eeeeee;
	background-color: rgba(32, 32, 32, .3);
	border-bottom-color: #0a0808;
	text-align: center;
}

.panel-default>.panel-heading>.panel-title{
	color: #eeeeee;
}

.panel-default>.panel-footer{
	background-color: rgba(32, 32, 32, .3);
	border-top-color: #0a0808;
}

#pizzaImg{
	width: 100%;
	height: 240px;
}

#pizzaConfirm{
	width: 100%;
}

.userInput{
	width: 100%;
	height: 100%;
	margin: 4px 0 4px 0;
}

.selectInput{
	width: 100%;
	height: 100%;
	margin: 10px 4% 10px 4%;
}

#toppingsTabs{
	color: #eeeeee;
}

#toppingsTabs>li:hover{
	color: #eeeeee;
}

.nav>li>a:hover{
	color: #eeeeee;
	background-color: #ee2020;
	border-color: #ffffff;
}

.nav-tabs>li>a{
	color: #eeeeee;
}

.nav-tabs>li.active>a{
	color: #eeeeee !important;
	background-color: #202020 !important;
	border-color: #2a2a2a;
}

.nav-tabs>li.active>a:hover{
	color: #eeeeee;
	background-color: #3e3e3e;
	border-color: #2a2a2a;
}

.nav-tabs>li{
	border-color: #2a2a2a;
}

.tab-pane{
	padding: 10px 0 0 0;
	background-color: #202020;
	background-color: rgba(32, 32, 32, .3);
}

div.userInput h2{
	text-align: center;
}

input.btn{
	color: #eeeeee;
	background-color: #ee1010;
	border: 1px solid #eeeeee;
}

input.btn:hover{
	color: #eeeeee;
	background-color: #ee2020;
}

button#returnBtn{
	width: 100%;
	margin: 2% 0;
	color: #eeeeee;
	font-size: 20pt;
	background-color: #ee1010;
	border: 1px solid #eeeeee;
}

button#returnBtn:hover{
	color: #eeeeee;
	background-color: #ee2020;
}

button#returnBtn>a{
	color: #eeeeee;
}

button#returnBtn>a:hover{
	text-decoration: none;
}

#threeContainer{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -100;
}