body{
	background-color: lightsteelblue;
	font-size: 12pt;
	margin: 0;
	text-align: center;
}

div.container{
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	display: block;
}

.header{
	width: 100%;
	display: block;
}

.banner-outerbackboard{
	background: linear-gradient(#444444, #222222);
	width: 100%;
	height: 160px;
	position: relative;
	padding: 20px, 0;
}

.banner-innerbackboard{
	height: 40px;
	padding: 0px;
	text-align: center;
}

.banner-text{
	font-family: Helvetica;
	color: white;
	
	font-size: 24pt;
}

div.leftBar{
	width: 60%;
	display: inline-block;
}

div.rightBar{
	width: 39.6%;
	display: inline-block;
}

ul.navBar, ul.vMenu, ul.hMenu, ul.loginBar{
	background:#FFA963;
	list-style-type: none;
	padding-left:0;
	list-style-position:inside;
	height:30px;	
	vertical-align:middle;
	position:relative;
	box-sizing: border-box;
}

ul.loginBar{
	text-align: right;
}

ul.loginBar>li{
	margin-left: 45px;
}

ul.navBar>li{
	margin-right: 45px;
}

ul>li{
	float: left;
	height: 30px;
	padding: 0, 0px, 0, 0px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #222222;
	background: #777777;
	width: 90px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}

ul>li:hover{
	background: #99a4a3;
}

ul.vMenu{
	display: none;
	position: absolute;
	top: 28px;
	left: -2px;
	z-index: 100;
	height: auto;
}

ul.hMenu{
	display: none;
	position: absolute;
	top: -2px;
	left: 88px;
	z-index: 100;
}

ul.hMenu>li{
	float: left;
}

ul.vMenu>li{
	float: none;
}

li:hover>ul{
	display: block;
}

ul.navBar li a{
	text-decoration: none;
	color: white;
}


.nav-bar{
	width: 100%;
	height: 40%;
	font-family: Verdana;
	color: darkslategrey;
}

.nav-bar.link{
	font-family: Verdana;
	color: darkslategrey;
}

.align-left{
	float: left;
}

.align-right{
	float: right;
}

.blogText{
	font-family: Verdana;
	color: black;
	text-indent: 20px;
}

.canvas p{
	position: relative;
	top: 0px;
	right: -250px;
}

div.mainContent{
	display: flex;
	align-content: center;
}

div#leftCol{
	width: 35%;
	height: 400px;
	background-color: #777777;
	border: 1px solid #222222;
	display: inline-block;
	box-sizing: content-box;
}

div#rightCol{
	width: 35%;
	height: 400px;
	background-color: #777777;
	border: 1px solid #222222;
	display: inline-block;
	box-sizing: content-box;
}

div#midCol{
	width: 28.5%;
	height: 400px;
	background-color: #555555;
	border: 1px solid #222222;
	display: inline-block;
	box-sizing: content-box;
}

img#pizzaImg{
	width: 60%;
	position: relative;
	top: 5%;
	left: 10%;
}

img#timeImg{
	width: 40%;
	position: relative;
	top: 4%;
	left: 40%;
}

input#submit{
	color: beige;
	text-shadow: 0px 1px 1px black;
	border-bottom: 1px solid lightgrey;
	background-color: cadetblue;
}

input#submit:hover{
	color: sandybrown;
	border: 1px solid #a4a4a4;
	border-top: 2px solid #b2b2b2;
	background-color: lightsteelblue;
}